# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-functions-worker
grpcio>=1.33.1,<1.52.0; platform_system!="Linux"
grpcio>=1.33.1,<1.52.0; platform_system=="Linux" --no-binary=grpcio
